.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
   
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(23, 162, 184);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(23, 162, 184);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .randomLabel{
    margin: 50px;
    padding: 50px;
  }

  .topWrap{
    margin-top: 50px;
    margin:auto;
    width: 650px;
    float: centre;
    padding-top: 100px;
    justify-content: center;
    align-items: center;

  }
  .container{
    width:650px
  }
  .input{
    margin-top: 50px;
    margin-left:-50px;
    padding-bottom: 50px;
  }
  .form-select{
    width:100px;
    background-color: rgb(23, 162, 184);
    color: #EEEEEE;
    overflow-y: auto;
    margin-bottom: 100px;
  }
  .body{
    background-color: #222831;
    color: #EEEEEE;
}
.toggle{
  margin-left: 2px;
  margin-top: 10px;
}
.top-right{
  position: absolute;
  top:10px;
  right:10px;
}
#grandpa{
  background-color: #393E46;  
  color: #EEEEEE;
}
#manualinput{
  background-color: grey;
  color:whitesmoke;
  text-align:center;
}
#randomSingleTime{
  margin-top: 15px;
}